:root {
  --color-white: #fff;
  --color-black: #0b132a;
  --color-grey: #4f5665;
  --color-button: #dde0e4;
  --color-border: #dddddd;
  --color-footer: #f8f8f8;
  --color-light-grey: #eeeff2;
  --color-light-red: #f53855;
  --color-green: #2fab73;
  --color-yellow: #ffd43b;
  --default-padding: 2rem;
  --default-radius: 2rem;
  --timing-animation: 0.2s;
}
